{{define "body"}}

<div class="text-center">
  <img
    alt="Nostr Wallet Connect logo"
    class="mx-auto my-4"
    width="128"
    height="120"
    src="/public/images/nwc-logo.svg"
  />

  <h1 class="font-headline text-3xl sm:text-4xl mb-2 dark:text-white">
    Nostr Wallet Connect
  </h1>

  <h2 class="text-md text-gray-700 dark:text-neutral-300">
    Securely connect your Alby Account to Nostr clients and applications.
  </h2>

  <p class="my-8">
    <a
      class=" inline-flex cursor-pointer items-center justify-center rounded-md transition-all px-10 py-4 text-black"
      style="
        background: linear-gradient(180deg, #ffde6e 63.72%, #f8c455 95.24%);
      "
      href="/alby/auth?v202303281"
    >
      <img
        src="/public/images/alby-head.svg"
        width="400"
        height="400"
        class="w-[24px] mr-2"
      />
      Log in with Alby Account
    </a>
  </p>

  <p>
    <a href="/about" class="text-purple-700 dark:text-purple-400">How does it work?</a>
  </p>
</div>

<style>
  nav {
    display: none;
  }
</style>

{{end}}
