services:
  albyhub:
    # you can manually specify the platform if you use something other than linux/amd64,linux/arm64 e.g.
    #platform: linux/arm64/v8
    container_name: albyhub
    image: ghcr.io/getalby/hub:latest
    volumes:
      - ./albyhub-data:/data
    ports:
      - "8080:8080"
    environment:
      - WORK_DIR=/data/albyhub
    stop_grace_period: 300s
