.theme-alby {
  --primary: hsl(47 100% 72%);
  --primary-foreground: hsl(0 0% 2%);

  --secondary: hsl(0 0% 96%);
  --secondary-foreground: hsl(0 0% 5%);

  --muted: hsl(0 0% 96%);
  --muted-foreground: hsl(0 0% 45%);

  --accent: hsl(0 0% 96%);
  --accent-foreground: hsl(0 0% 5%);

  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 92%);
  --input: hsl(0 0% 85%);
  --ring: hsl(0 0% 76%);

  --radius: 0.5rem;
}

.theme-alby.dark {
  --primary: hsl(47 100% 72%);
  --primary-foreground: hsl(0 0% 2%);

  --secondary: hsl(0 0% 0%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(0 0% 10%);
  --muted-foreground: hsl(0 0% 49%);

  --accent: hsl(0 0% 0%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 62.8% 30.6%);

  --border: hsl(0 0% 15%);
  --input: hsl(0 0% 15%);
  --ring: hsl(47 100% 40%);
}
