.theme-bitcoin {
  --background: 0 0% 100%;
  --foreground: 0 0% 5%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 5%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 5%;

  --primary: 42 100% 47%;
  --primary-foreground: 0 0% 2%;

  --secondary: 0 0% 96%;
  --secondary-foreground: 0 0% 5%;

  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 45%;

  --accent: 0 0% 96%;
  --accent-foreground: 0 0% 5%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;

  --positive: 138, 68%, 96%;
  --positive-foreground: 142 76% 36%;

  --warning: 33, 90%, 96%;
  --warning-foreground: 21, 90%, 48%;

  --border: 0 0% 92%;
  --input: 0 0% 85%;
  --ring: 0 0% 76%;

  --radius: 0.5rem;
}

.theme-bitcoin.dark {
  --background: 60 3% 6%;
  --foreground: 0 0% 98%;

  --card: 60 3% 6%;
  --card-foreground: 0 0% 98%;

  --popover: 60 3% 6%;
  --popover-foreground: 0 0% 98%;

  --primary: 42 100% 47%;
  --primary-foreground: 0 0% 2%;

  --secondary: 40 5% 12%;
  --secondary-foreground: 0 0% 98%;

  --muted: 45 4% 18%;
  --muted-foreground: 40 5% 49%;

  --accent: 42 44% 12%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 62.8% 30.6%;

  --border: 40 5% 12%;
  --input: 45 4% 18%;
  --ring: 42 100% 40%;
}
