.theme-bitcoin {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 5%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 5%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 5%);

  --primary: hsl(42 100% 47%);
  --primary-foreground: hsl(0 0% 2%);

  --secondary: hsl(0 0% 96%);
  --secondary-foreground: hsl(0 0% 5%);

  --muted: hsl(0 0% 96%);
  --muted-foreground: hsl(0 0% 45%);

  --accent: hsl(0 0% 96%);
  --accent-foreground: hsl(0 0% 5%);

  --destructive: hsl(0 84% 60%);

  --border: hsl(0 0% 92%);
  --input: hsl(0 0% 85%);
  --ring: hsl(0 0% 76%);

  --radius: 0.5rem;
}

.theme-bitcoin.dark {
  --background: hsl(60 3% 6%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(60 3% 6%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(60 3% 6%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(42 100% 47%);
  --primary-foreground: hsl(0 0% 2%);

  --secondary: hsl(40 5% 12%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(45 4% 18%);
  --muted-foreground: hsl(40 5% 49%);

  --accent: hsl(42 44% 12%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 84% 60%);

  --border: hsl(40 5% 12%);
  --input: hsl(45 4% 18%);
  --ring: hsl(42 100% 40%);
}
