@layer base {
  .theme-blue {
    /* Name: custom color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #00467F;
        --background: 220 100% 98.5%;
        --foreground: 220 10% 1%;

        --muted: 220 10% 92.5%;
        --muted-foreground: 220 5% 42.5%;

        --popover: 220 10% 92.5%;
        --popover-foreground: 220 10% 1.25%;

        --card: 220 10% 92.5%;
        --card-foreground: 220 10% 1.25%;

        --border: 220 15% 90%;
        --input: 220 15% 90%;

        --primary: 220 100% 25%;
        --primary-foreground: 220 2% 92.5%;

        --secondary: 220 5% 96.25%;
        --secondary-foreground: 220 7% 12.5%;

        --accent: 220 5% 96.25%;
        --accent-foreground: 220 7% 12.5%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 220 100% 25%;

        --radius: 0.5rem;
  }
}
