
.theme-geyser  {
  --background: 169 100% 95%;
  --foreground: 169 5% 0%;
  --card: 169 50% 90%;
  --card-foreground: 169 5% 10%;
  --popover: 169 100% 95%;
  --popover-foreground: 169 100% 0%;
  --primary: 169 84.3% 52.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 169 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 131 30% 85%;
  --muted-foreground: 169 5% 35%;
  --accent: 131 30% 80%;
  --accent-foreground: 169 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 169 5% 90%;
  --border: 169 30% 50%;
  --input: 169 30% 18%;
  --ring: 169 84.3% 52.5%;
  --radius: 0rem;
}
.theme-geyser.dark  {
  --background: 169 50% 5%;
  --foreground: 169 5% 90%;
  --card: 169 50% 0%;
  --card-foreground: 169 5% 90%;
  --popover: 169 50% 5%;
  --popover-foreground: 169 5% 90%;
  --primary: 169 84.3% 52.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 169 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 131 30% 15%;
  --muted-foreground: 169 5% 60%;
  --accent: 131 30% 15%;
  --accent-foreground: 169 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 169 5% 90%;
  --border: 169 30% 18%;
  --input: 169 30% 18%;
  --ring: 169 84.3% 52.5%;
  --radius: 0rem;
}
