.theme-ghibli {
  --background: oklch(0.91 0.05 82.78);
  --foreground: oklch(0.41 0.08 78.86);
  --card: oklch(0.92 0.04 84.56);
  --card-foreground: oklch(0.41 0.08 74.04);
  --popover: oklch(0.92 0.04 84.56);
  --popover-foreground: oklch(0.41 0.08 74.04);
  --primary: oklch(0.71 0.1 111.96);
  --primary-foreground: oklch(0.98 0.01 2.18);
  --secondary: oklch(0.88 0.05 83.32);
  --secondary-foreground: oklch(0.51 0.08 78.21);
  --muted: oklch(0.86 0.06 82.94);
  --muted-foreground: oklch(0.51 0.08 74.78);
  --accent: oklch(0.86 0.05 85.12);
  --accent-foreground: oklch(0.26 0.02 356.72);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.74 0.06 79.64);
  --input: oklch(0.74 0.06 79.64);
  --ring: oklch(0.51 0.08 74.78);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.58);
  --chart-3: oklch(0.48 0.08 211.35);
  --chart-4: oklch(0.84 0.17 84.99);
  --chart-5: oklch(0.74 0.17 60.02);
  --sidebar: oklch(0.87 0.06 84.46);
  --sidebar-foreground: oklch(0.41 0.08 78.86);
  --sidebar-primary: oklch(0.26 0.02 356.72);
  --sidebar-primary-foreground: oklch(0.98 0.01 2.18);
  --sidebar-accent: oklch(0.83 0.06 84.44);
  --sidebar-accent-foreground: oklch(0.26 0.02 356.72);
  --sidebar-border: oklch(0.91 0 0);
  --sidebar-ring: oklch(0.71 0 0);

  --radius: 0.625rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);

  /* Custom colors */
  --positive: oklch(0.15 0.04 140);
  --positive-foreground: oklch(0.65 0.25 140);

  --warning: oklch(0.12 0.03 60);
  --warning-foreground: oklch(0.75 0.2 60);

  --radius: 0.625rem;
}

.theme-ghibli.dark {
  --background: oklch(0.2 0.01 52.89);
  --foreground: oklch(0.88 0.05 79.11);
  --card: oklch(0.25 0.01 48.28);
  --card-foreground: oklch(0.88 0.05 79.11);
  --popover: oklch(0.25 0.01 48.28);
  --popover-foreground: oklch(0.88 0.05 79.11);
  --primary: oklch(0.64 0.05 114.58);
  --primary-foreground: oklch(0.98 0.01 2.18);
  --secondary: oklch(0.33 0.02 60.7);
  --secondary-foreground: oklch(0.88 0.05 83.32);
  --muted: oklch(0.27 0.01 39.35);
  --muted-foreground: oklch(0.74 0.06 79.64);
  --accent: oklch(0.33 0.02 60.7);
  --accent-foreground: oklch(0.86 0.05 85.12);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.33 0.02 60.7);
  --input: oklch(0.33 0.02 60.7);
  --ring: oklch(0.64 0.05 114.58);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.58);
  --chart-3: oklch(0.48 0.08 211.35);
  --chart-4: oklch(0.84 0.17 84.99);
  --chart-5: oklch(0.74 0.17 60.02);
  --sidebar: oklch(0.23 0.01 60.9);
  --sidebar-foreground: oklch(0.88 0.05 79.11);
  --sidebar-primary: oklch(0.64 0.05 114.58);
  --sidebar-primary-foreground: oklch(0.98 0.01 2.18);
  --sidebar-accent: oklch(0.33 0.02 60.7);
  --sidebar-accent-foreground: oklch(0.86 0.05 85.12);
  --sidebar-border: oklch(0.33 0.02 60.7);
  --sidebar-ring: oklch(0.64 0.05 114.58);

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);

  /* Custom colors */
  --positive: oklch(0.12 0.03 140);
  --positive-foreground: oklch(0.75 0.3 140);

  --warning: oklch(0.1 0.02 60);
  --warning-foreground: oklch(0.8 0.25 60);
}
