@layer base {
  .theme-purple {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #9400D3, #4B0082);

    --background: 300 65% 3.36%;
    --foreground: 300 10% 97.1%;

    --muted: 300 50% 12.6%;
    --muted-foreground: 300 10% 54.2%;

    --popover: 300 45% 5.46%;
    --popover-foreground: 300 10% 97.1%;

    --card: 300 45% 5.46%;
    --card-foreground: 300 10% 97.1%;

    --border: 300 50% 12.6%;
    --input: 300 50% 12.6%;

    --primary: 300 100% 42%;
    --primary-foreground: 300 10% 97.1%;

    --secondary: 300 50% 12.6%;
    --secondary-foreground: 300 10% 97.1%;

    --accent: 300 50% 12.6%;
    --accent-foreground: 300 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 10% 97.1%;

    --ring: 300 100% 42%;
  }
}
